---
---
@import "main";

.countdown-container {
  background-image: url("../images/background/background_2_eoftih_c_scale,w_971.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  display: flex;

  #logo-test {
    padding: 2em 0;
    max-width: 90%;
  }
  #countdown {
    padding: 1.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .number {
      font-size: 4em;
      position: relative;
      padding-bottom: 2vw;
      &:not(:last-child) {
        margin-right: 4vw;
        &::after {
          content: ":";
          position: absolute;
          right: -2.5vw;
          top: -0.5vw;
        }
      }
    }
    .text {
      font-size: 1.3vw;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(#000, 0.65);
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .countdown-container {
    background-image: url("../images/background/background_2_eoftih_c_scale,w_971.jpg");
    #logo-test {
      max-width: 80%;
      padding: 1em 0 .5em 0;
    }
    #countdown {
      padding: 1.5em 0;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .countdown-container {
    background-image: url("../images/background/background_2_eoftih_c_scale,w_1219.jpg");
    #logo-test {
      max-width: 70%;
      padding: 1em 0 .5em 0;
    }
    #countdown {
      padding: 1.5em 0;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .countdown-container {
    background-image: url("../images/background/background_2_eoftih_c_scale,w_1376.jpg");
    #logo-test {
      max-width: 60%;
      padding: 1em 0 .5em 0;
    }
    #countdown {
      padding: 1.5em 0;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .countdown-container {
    background-image: url("../images/background/background_2_eoftih_c_scale,w_1400.jpg");
    #logo-test {
      max-width: 50%;
      padding: 1em 0 .5em 0;
    }
    #countdown {
      padding: 1.5em 0;
    }
  }
}